<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Sommerlichter.nordcast" version="1.3.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Nordcast</name>
    <description>
        A new podcast app
    </description>
    <author email="support@koyu.space" href="https://nordcast.app">
        Nordcast
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-minSdkVersion" value="14" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
        <icon density="ldpi" src="www/icon.png" />
        <icon density="mdpi" src="www/icon.png" />
        <icon density="hdpi" src="www/icon.png" />
        <icon density="xhdpi" src="www/icon.png" />
        <icon density="xxhdpi" src="www/icon.png" />
        <icon density="xxxhdpi" src="www/icon.png" />
    </platform>
    <platform name="ios">
        <icon height="29" platform="ios" src="www/res/icon/ios/29.png" width="29" />
        <icon height="40" platform="ios" src="www/res/icon/ios/40.png" width="40" />
        <icon height="57" platform="ios" src="www/res/icon/ios/57.png" width="57" />
        <icon height="58" platform="ios" src="www/res/icon/ios/58.png" width="58" />
        <icon height="60" platform="ios" src="www/res/icon/ios/60.png" width="60" />
        <icon height="76" platform="ios" src="www/res/icon/ios/76.png" width="76" />
        <icon height="80" platform="ios" src="www/res/icon/ios/80.png" width="80" />
        <icon height="114" platform="ios" src="www/res/icon/ios/114.png" width="114" />
        <icon height="120" platform="ios" src="www/res/icon/ios/120.png" width="120" />
        <icon height="152" platform="ios" src="www/res/icon/ios/152.png" width="152" />
        <icon height="180" platform="ios" src="www/res/icon/ios/180.png" width="180" />
        <icon height="1024" platform="ios" src="www/res/icon/ios/1024.png" width="1024" />
        <gap:plugin name="cordova-plugin-statusbar" source="npm" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#ffffff" />
        <preference name="StatusBarStyle" value="default" />
    </platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="www/res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="www/res/icon/wp8/Background.png" width="159" />
        <splash height="1280" platform="wp8" src="www/res/screen/wp8/screen-portrait.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-100.png" width="150" />
        <icon height="30" platform="windows" src="www/res/icon/windows/Square30x30Logo.scale-100.png" width="30" />
        <icon height="50" platform="windows" src="www/res/icon/windows/StoreLogo.scale-100.png" width="50" />
        <splash height="300" platform="windows" src="www/res/screen/windows/SplashScreen.scale-100.png" width="620" />
        <icon height="120" platform="windows" src="www/res/icon/windows/StoreLogo.scale-240.png" width="120" />
        <icon height="44" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-100.png" width="44" />
        <icon height="106" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-240.png" width="106" />
        <icon height="70" platform="windows" src="www/res/icon/windows/Square70x70Logo.scale-100.png" width="70" />
        <icon height="71" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-100.png" width="71" />
        <icon height="170" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-240.png" width="170" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-240.png" width="360" />
        <icon height="310" platform="windows" src="www/res/icon/windows/Square310x310Logo.scale-100.png" width="310" />
        <icon height="150" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-100.png" width="310" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-240.png" width="744" />
        <splash height="1920" platform="windows" src="www/res/screen/windows/SplashScreenPhone.scale-240.png" width="1152" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />
    <engine name="android" spec="~7.1.4" />
    <plugin name="cordova-plugin-device" spec="~1.1.7" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.4" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.4" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.9" />
    <plugin name="cordova-plugin-android-window-background" spec="^1.0.2">
        <variable name="WINDOW_BACKGROUND_COLOR" value="#ffffff" />
    </plugin>
</widget>
