<br /><div id="podcard"><img id="img__cast" class="card__smaller" style="float: left;"><h1 id="text__cast" style="text-align: center;margin-top: -5px;"></h1>
<small><h6 style="text-align: center"><span id="text__by">by</span> <span id="text__author"></span></h6></small><br /><br />
<h5 id="text__subtitle" style="text-align: center"></h3>
</div>
<br /><button id="button__follow" class="btn btn-primary">Follow</button><button id="button__unfollow" class="btn btn-danger">Unfollow</button><br /><br /><h6 id="text__description"></h6>
<br><div id="podtable"><div style="overflow-x:auto;"><table><tbody></tbody></table></div></div>