body, #wrapper__search {
    background: #191919 !important;
    color: #fff;
}

a {
    color: #0099ff !important;
}

a i {
    color: #fff !important;
}

#podtable tr:nth-child(even) {
    background: #111;
}

#player__controls,
#menubuttons,
#nav,
#bottom__section {
    background: rgba(25,25,25,.9);
}

/* Darkmode for website */
.site-inner {
    background: #191919 !important;
}