body, #nav, #wrapper__search {
    background: #191919 !important;
    color: #fff;
}

a {
    color: #0099ff !important;
}

a i {
    color: #fff !important;
}

#podtable tr:nth-child(even) {
    background: #111;
}

#player__controls {
    background: #191919;
}