@import url("fonts.css");

* {
    box-sizing: unset !important;
}

body {
    background: #fff !important;
    color: #333;
    font-family: 'open_sansregular' !important;
    padding: 0;
    margin: 0;
}

#view__search,
#view__report {
    padding: 90px 20px 0px;
}

select {
    width: 80%;
    outline: 0;
    background: url(dropdown.svg) 96% / 38px no-repeat #eee;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 10px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
}

#view__cast,
#view_settings {
    padding: 40px 20px 0px;
}

#shownotes {
    padding-top: 40px;
}

#logo__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text__offline {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav {
    background: #fff;
    height: 90px;
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    z-index: 1;
    border-bottom: 3px solid rgb(39, 176, 226);
}

#logo__nav {
    position: relative;
    left: -16px;
}

#player__controls {
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: -1px !important;
    padding-bottom: 5px;
}

#nav img {
    margin: 0 auto;
    display: block;
}

#profile__picture {
    float: left;
    margin-left: 20px !important;
    margin-top: -70px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'open_sanslight';
    font-weight: 300;
}

#text__subtitle {
    margin: 0 !important;
    text-align: center;
}

.card__big {
    border-radius: 6px;
    background: #fff;
    margin: 15px;
    margin-bottom: 30px;
}

.card__big img {
    height: 100%;
}

#section__featured {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#section__featured div {
    display: inline-block;
}

.card__smaller {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    border: 1px solid #ccc;
    margin: 5px;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.card__small {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    border: 1px solid #f3f3f3;
    margin: 5px;
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
}

.card__small1 {
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #fff;
    margin: 5px;
    height: 48px !important;
    margin-bottom: 15px;
}

.addfeed {
    font-size: 24px;
    margin-top: -65px;
    margin-right: 110px;
    float: right;
}

.problemreporting {
    font-size: 24pt;
    margin-top: -65px;
    margin-right: 145px;
    float: right;
}

.fa__nav {
    font-size: 24px;
    margin-top: -65px;
    margin-right: 25px;
    float: right;
}

.fa__nav2 {
    font-size: 24px;
    margin-top: -65px;
    margin-right: 70px;
    float: right;
}

#wrapper__search {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 5vh;
    text-align: center;
    margin: -20px;
}

#wrapper__search input {
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    height: 48px;
    width: 80%;
    font-size: 24pt;
    font-family: 'open_sanslight';
    font-weight: 300;
    padding: .5rem 1rem;
}

#wrapper__search input:focus {
    outline: 0;
}

#view__welcome {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

#view__welcome p,
#view__welcome h1 {
    margin-bottom: 30px;

}

#view__welcome input,
#view__welcome input:focus,
#view__addfeed input,
#view__addfeed input:focus,
#view__report input[type="text"],
#view__report input[type="text"]:focus {
    width: 80%;
    outline: 0;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 10px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
}

.checkbox-grid li {
    list-style: none;
}

#view__settings {
    padding-left: 20px;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

ion-icon .fa-spin {
    font-size: 18pt;
}

ion-icon {
    z-index: 0;
}

#podcard {
    margin: 0;
    padding: 10px;
    padding-top: 60px;
    margin-left: -20px;
    width: calc(100% + 20px);
}

#podtable {
    margin-left: -20px;
    margin-right: -20px;
}

#text__description,
#error__noepisodes {
    padding: 20px;
    margin-left: -20px;
}

#error__noepisodes {
    margin-left: 0;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0;
}
  
th, td {
    text-align: left;
    padding: 8px;
    text-align: center; 
    vertical-align: middle;
}

#podtable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#text__cast {
    margin-top: 6px !important;
}

.emoji {
    height: 16px;
    vertical-align: middle;
    padding: 3px;
}

h1 .emoji {
    height: 36pt;
    margin-right: 8px;
}

#rev,
#ffw,
#restart,
#snbutton,
#snclose,
#plclose,
.playbutton,
.downloaded {
    font-size: 24px;
    height: 24px;
    width: 24px;
}

.dlbutton {
    font-size: 24px;
    display: block;
}

#player__controls i {
    margin-right: 20px !important;
}

#timer {
    margin-right: 60px;
    margin-left: -20px;
}

#img__cast2 {
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 10px;
    float: left;
}

#snclose {
    float: right;
    margin-top: 80px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#nologin {
    color: #acacac !important;
    padding-top: 20px;
}

#view__welcome button {
    margin-bottom: 10px;
}

#view__main {
    padding: 40px 20px 0px;
}

#view__addfeed {
    padding: 20px 20px 0px;
}

#podtitle {
    text-align: center;
}

#element__author {
    text-align: center;
}

#object__noresults {
    text-align: center;
}

#podtitle {
    padding-top: 5px;
    padding-bottom: 5px;
}

#timer, #timeleft {
    line-height: 2;
}

#view__addfeed button {
    height: 34px;
    width: 10px;
    margin-left: 5px;
    margin-top: -7.3px;
}

.invisible {
    visibility: visible !important;
}

#text__username {
    margin-top: 60px;
}

#offline__message {
    margin-bottom: 20px;
}

#section__list {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.item {
    border: 3px solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    margin-left: -15px;
}

.item-head {
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 90%;
}

#img__cast2 {
    width: 64px;
    height: 64px;
}

.problemreporting,
.share {
    font-size: 24px;
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}

.fav {
    color: #e74c3c;
    font-size: 24pt;
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}

.fav:active {
    padding: 1px;
    margin-left: 10px;
}

#pod__favs {
    vertical-align: middle;
}

#banner__openapp {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    background: rgb(39, 176, 226);
    width: 100vw;
    margin-left: -20px;
    color: #fff;
}

.koyushare {
    background: #fe53e1;
    color: #fff;
    margin-top: 10px;
}

.tootshare {
    margin-top: 10px;
}

.koyushare img,
.tootshare img {
    width: 24px;
    height: 24px;
    margin-top: -4px;
    vertical-align: middle;
}

.rangeslider--horizontal {
    height: 3px;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}

.rangeslider__fill {
    background: rgb(39, 176, 226);
}

.rangeslider--horizontal .rangeslider__handle {
    top: -4px;
}

.rangeslider__handle {
    border: 1px solid #ccc;
    background: #333;
    width: 10px;
    height: 10px;
}

.rangeslider__handle:after {
    display: none;
}

.plchangesize {
    padding: 20px;
    font-size: 20pt;
}

.timers {
    text-align: center;
    margin-left: 20px;
}

.player-controls {
    text-align: center;
    margin-left: 20px;
}

#plcontrols {
    width: 80%;
    margin: 0 auto;
    margin-top: -15px;
    text-align: center;
    margin-top: 7px;
}

#showall {
    text-align: center;
    background: #ccc;
    color: #333;
    width: calc(100vw - 20px);
    font-size: 14pt;
    font-weight: bold;
    padding: 20px;
    margin-left: -20px;
}

/* Hack for ionicicons v2 (no animation code) */
.ion-spin-animation { -webkit-animation: spin 1s infinite linear; -moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-load-a.ion-spin-animation { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }