@import url("fonts.css");

* {
    box-sizing: unset !important;
}

body {
    background: #fff !important;
    color: #333;
    font-size: 11pt;
    font-family: 'open_sansregular' !important;
    padding: 0;
    margin: 0;
}

#view__search,
#view__report {
    padding: 90px 20px 0px;
}

select {
    width: 80%;
    outline: 0;
    background: url(dropdown.svg) 96% / 38px no-repeat #eee;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 10px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
}

#view__cast,
#view_settings {
    padding: 40px 20px 20px;
}

#logo__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text__offline {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav {
    background: rgba(255,255,255,.9);
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid rgb(39, 176, 226);
}

#logo__nav {
    position: relative;
    left: -8px;
}

@media(max-width:400px) {
    #logo__nav {
        left: -8px;
    }
}

#player__controls,
#menubuttons {
    background: rgba(255,255,255,.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: -1px !important;
    padding-bottom: 5px;
}

#player__controls {
    bottom: 59px;
    height: 50px;
}

#menubuttons {
    padding: 10px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
}

.menubutton .icon {
    font-size: 18px;
    line-height: 0;
}

.menubutton {
    display: block;
    width: calc(100vw / 4);
    text-align: center;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

#menubuttons > div:last-child {
    border-right: 0 !important;
}

#nav img {
    margin: 0 auto;
    display: block;
}

#profile__picture {
    float: left;
    margin-left: 20px !important;
    margin-top: -70px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'open_sanslight';
    font-weight: 300;
}

#text__subtitle {
    margin: 0 !important;
    text-align: center;
}

.card__big {
    border-radius: 6px;
    background: #fff;
    margin: 15px;
    margin-bottom: 30px;
}

.card__big img {
    height: 100%;
}

#section__featured {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#section__featured div {
    display: inline-block;
}

.card__smaller {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    border: 1px solid #ccc;
    margin: 5px;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.card__small {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    border: 1px solid #f3f3f3;
    margin: 5px;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}

.card__small1 {
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #fff;
    margin: 5px;
    height: 48px !important;
    margin-bottom: 15px;
}

.addfeed {
    font-size: 24px;
    margin-top: -65px;
    margin-right: 25px;
    float: right;
}

.problemreporting {
    font-size: 24pt;
    margin-top: -65px;
    margin-right: 70px;
    float: right;
}

.fa__nav {
    font-size: 24px;
    margin-top: -65px;
    margin-right: 25px;
    float: right;
}

.fa__nav2 {
    font-size: 24px;
    margin-top: -65px;
    margin-right: 70px;
    float: right;
}

#wrapper__search {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 5vh;
    text-align: center;
    margin: -20px;
}

#wrapper__search input {
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    height: 48px;
    width: 80%;
    font-size: 24pt;
    font-family: 'open_sanslight';
    font-weight: 300;
    padding: .5rem 1rem;
}

#wrapper__search input:focus {
    outline: 0;
}

#view__welcome {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

#view__welcome p,
#view__welcome h1 {
    margin-bottom: 30px;

}

#view__welcome input,
#view__welcome input:focus,
#view__register input[type="text"],
#view__register input[type="email"],
#view__register input[type="text"]:focus,
#view__register input[type="email"]:focus,
#view__register input[type="password"],
#view__register input[type="password"]:focus,
#view__addfeed input,
#view__addfeed input:focus,
#view__report input[type="text"],
#view__report input[type="text"]:focus {
    width: 80%;
    outline: 0;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 10px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
}

.checkbox-grid li {
    list-style: none;
}

#view__settings {
    padding-left: 20px;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

ion-icon .fa-spin {
    font-size: 18pt;
}

ion-icon {
    z-index: 0;
}

#podcard {
    margin: 0;
    padding: 10px;
    padding-top: 40px;
    margin-top: 30px;
    margin-left: -20px;
    width: calc(100% + 20px);
}

#podtable {
    margin-left: -20px;
    margin-right: -20px;
}

#text__description,
#error__noepisodes {
    padding: 20px;
    margin-left: -20px;
}

#error__noepisodes {
    margin-left: 0;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0;
}
  
th, td {
    text-align: left;
    padding: 8px;
    text-align: center; 
    vertical-align: middle;
}

#podtable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#text__cast {
    margin-top: 6px !important;
    font-size: 2rem;
}

.emoji {
    height: 16px;
    vertical-align: middle;
    padding: 3px;
}

h1 .emoji {
    height: 36pt;
    margin-right: 8px;
}

#rev,
#ffw,
#restart,
.snbutton,
#snclose,
#plclose,
.playbutton,
.downloaded,
.dlbutton {
    font-size: 18px;
    height: 18px;
    width: 18px;
}

.dlbutton {
    padding-right: 5px;
    margin-left: -5px;
}

#player__controls i {
    margin-right: 20px !important;
}

#timer {
    margin-right: 60px;
    margin-left: -20px;
}

#img__cast2 {
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

#snclose {
    float: right;
    margin-top: 80px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#nologin {
    color: #acacac !important;
    padding-top: 20px;
}

#view__welcome button {
    margin-bottom: 10px;
}

#view__main {
    padding: 40px 20px 120px;
}

#view__yourlist {
    padding-bottom: 60px;
}

#view__signup,
#view__register,
#view__okay {
    padding: 90px 20px 0px;
}

#view__addfeed {
    padding: 20px 20px 0px;
}

#podtitle {
    text-align: center;
}

#element__author {
    text-align: center;
}

#object__noresults {
    text-align: center;
}

#podtitle {
    padding-top: 5px;
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-left: 40px;
}

#timer, #timeleft {
    line-height: 2;
}

#view__addfeed button {
    height: 34px;
    width: 10px;
    margin-left: 5px;
    margin-top: -7.3px;
}

.invisible {
    visibility: visible !important;
}

#text__username {
    margin-top: 60px;
}

#offline__message {
    margin-bottom: 20px;
}

#section__list {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.item {
    border: 3px solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    margin-left: -15px;
    min-height: 150px;
}

.item-head img {
    float: left;
    margin: 10px;
}

.item-head b {
    display: block;
}

.item p {
    margin-bottom: inherit !important;
}

#img__cast2 {
    width: 48px;
    height: 48px;
}

.problemreporting,
.share,
#playbtn-copy {
    font-size: 24px;
    display: inline;
    vertical-align: middle;
}

.share {
    margin-left: 10px;
}

.fav {
    color: #e74c3c;
    font-size: 24pt;
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}

.fav:active {
    padding: 1px;
    margin-left: 10px;
}

#pod__favs {
    vertical-align: middle;
}

#banner__openapp {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    background: rgb(39, 176, 226);
    width: 100vw;
    margin-left: -20px;
    color: #fff;
}

.koyushare {
    background: #fe53e1;
    color: #fff;
    margin-top: 10px;
}

.tootshare {
    margin-top: 10px;
}

.koyushare img,
.tootshare img {
    width: 24px;
    height: 24px;
    margin-top: -4px;
    vertical-align: middle;
}

.rangeslider--horizontal {
    height: 3px;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}

.rangeslider__fill {
    background: rgb(39, 176, 226);
}

.rangeslider--horizontal .rangeslider__handle {
    top: -4px;
}

.rangeslider__handle {
    border: 1px solid #ccc;
    background: #333;
    width: 10px;
    height: 10px;
}

.rangeslider__handle:after {
    display: none;
}

.plchangesize {
    font-size: 20pt;
    margin-left: 20px;
    margin-top: 4px;
    padding-bottom: 10px;
    position: absolute;
}

.timers {
    text-align: center;
    margin-left: 20px;
}

.player-controls {
    text-align: center;
    margin-left: 40px;
}

#plcontrols {
    width: 80%;
    margin: 0 auto;
    margin-top: -15px;
    text-align: center;
    margin-top: 7px;
}

#showall {
    text-align: center;
    background: #ccc;
    color: #333;
    width: calc(100vw - 20px);
    font-size: 14pt;
    font-weight: bold;
    padding: 20px;
    margin-left: -20px;
}

@media(min-width: 900px) {
    .item {
        display: inline-table;
        width: 400px;
        min-height: 200px;
        height: 420px;
        vertical-align: top;
        margin: 5px;
        margin-bottom: 0;
        cursor: pointer;
    }
    .item p {
        height: 200px;
        overflow-y: auto;
    }
    i[class*="ion-md-"],
    i[class*="ion-logo-"],
    i[class*="ion-ios-"],
    #logo__nav,
    .card__big,
    .card__smaller,
    .card__small,
    a {
        cursor: pointer !important;
    }
}

#serverlist {
    display: block;
    margin: 0 auto;
    margin-left: -20px;
    width: 100vw;
}

#signup__intro {
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
}

#view__signup h1,
#view__register h1 {
    text-align: center;
    margin-top: 20px;
}

#serverlist img {
    border-radius: 4px;
}

.new {
    color: red;
    padding: 3px;
    width: 100px;
    font-size: 10pt;
    border-radius: 5px;
    border: 2px solid red;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.bigscreen {
    background: linear-gradient(180deg,transparent,#fff),#333 center center;
    height: 100vw;
    margin: -20px;
    margin-bottom: -39px;
    margin-top: 29px;
    overflow: hidden;
}

@media(min-width:800px) {
    .bigscreen {
        height: 350px;
        background-position: center -350px !important;
    }
    #img__bigscreen,
    #title__bigscreen {
        padding-top: 40px !important;
        margin-top: calc(-100vw + 290px) !important;
    }
    #title__bigscreen {
        padding-top: 30px !important;
    }
}

#view__yourlist > h3 {
    margin-top: 60px;
}

#title__bigscreen {
    width: 200%;
}

#offline__message {
    padding-top: 60px;
}

#section__newforyou .item {
    border-radius: 0;
    width: 100vw;
    margin-left: -20px;
    border: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
}

#view__main {
    overflow-x: hidden;
}

#text__newforyou {
    text-align: center;
    padding-top: 40px;
}

.item p {
    width: 80vw;
}

#text__shownotes {
    padding-top: 60px;
}

#submit__register {
    width: 78%;
}

#register__success,
#register__success__text {
    text-align: center;
}

#register__success {
    font-size: 2rem;
}

#register__return {
    display: block;
    margin: 0 auto;
}

#register__success__text {
    font-size: 11pt;
}

#section__newforyou p {
    width: 90vw !important;
}

.item b {
    margin-top: -10px !important;
}

#section__list .item p {
    margin-top: -16px !important;
}

.plshare {
    font-size: 18px !important;
}

.menubutton p {
    line-height: 0;
}

/* Hack for ionicicons v2 (no animation code) */
.ion-spin-animation { -webkit-animation: spin 1s infinite linear; -moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-load-a.ion-spin-animation { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }