<br /><br /><small id="text__username"><span id="text__hello">Hello</span>, <span class="placeholder__username"></span></small>
<div id="offline__message"><p>You are currently offline. Below is your list with some podcasts you are currently following.</p></div>
<h1 id="text__featured">Featured</h1>
<div id="section__featured">
</div>
<h2 id="text__originals">Homemade productions</h3>
<div id="section__originals"></div>
<h3 id="text__list">Your list</h3>
<div id="section__list"></div>
<style>
#view__main {
  padding: 20px 20px 0px !important;
}

#section__featured,
#section__originals,
#section__list {
  margin-bottom: 16px;
}
</style>