<br><br><br><p style="display: block;"><small id="text__username"><span id="text__hello">Hello</span>, <span class="placeholder__username"></span></small></p>
<div id="offline__message"><p>You are currently offline. Below is your list with some podcasts you are currently following.</p></div>
<h1 id="text__featured">Featured</h1>
<div id="section__featured">
</div>
<h2 id="text__originals">Homemade productions</h3>
<div id="section__originals"></div>
<div id="view__yourlist" style="display: none;">
  <h3 class="text__list">Your list</h3><i style="float:right;font-size:24pt;" class="icon ion-md-refresh" onclick="kicker=true;"></i><br><br><br>
  <div id="section__list"></div><br>
</div>
<style>
#section__featured,
#section__originals,
#section__list {
  margin-bottom: 16px;
}
</style>