<div class="bigscreen" style="display: none;">
  <div style="padding-top: calc(100vw - 140px);padding-left:20px;">
    <img id="img__bigscreen" style="float: left;border-radius: 4px;" height="64">
    <div style="padding-left: 72px;padding-top:12px;">
      <h1 id="title__bigscreen" style="margin-top: -16px;font-size: 2rem;"></h1>
      <p style="margin-top:-8px;line-height: 0.8;" id="text__bigscreen"></p>
    </div>
  </div>
</div>
<h1 id="text__featured">Featured</h1>
<div id="section__featured">
</div>
<h2 id="text__originals">Homemade productions</h3>
<div id="section__originals"></div>
<h2 id="text__newforyou">New for you</h2>
<div id="section__newforyou"></div><br><br>
<h2 id="text__custom"></h2>
<div id="section__custom"></div>
<div id="view__yourlist" style="display: none;">
  <h3 class="text__list">Your list</h3><i style="float:right;font-size:24pt;margin-top:-48px;margin-right:10px;" class="icon ion-md-refresh" onclick="kicker=true;"></i><br><br><br>
  <div id="section__list"></div><br>
</div>
<style>
#section__featured,
#section__originals,
#section__list {
  margin-bottom: 16px;
}
</style>
