<div id="podcard" style="margin-top:0px !important;"><img id="img__cast" class="card__smaller" style="float: left;"><h1 id="text__cast" style="text-align: center;margin-top: -5px;"></h1>
<small><h6 id="element__author" style="text-align: center"><span id="text__by">by</span> <span id="text__author"></span></h6></small>
<h5 id="text__subtitle"></h3>
</div>
<br><br><br><p><button id="button__follow" style="display: block;" class="btn btn-primary">Follow</button><button id="button__unfollow" style="display: block;" class="btn btn-danger">Unfollow</button></p>
<br><br><h6 id="text__description"></h6>
<div id="podtable"><div style="overflow-x:auto;"><table><tbody></tbody></table></div></div>
