<h1>Settings</h1><br />
<h2 id="text__session">Session</h2>
<button type="button" id="logout" class="btn btn-danger">Logout</button><br />
<br /><br />
<h2 id="text__theme">Theme</h2>
<p><span id="text__darkmode">Enable dark mode</span> <img src="darth.png" id="starwars" class="emoji"> <input id="cdark__mode" type="checkbox"></p>
<br />
<h2 id="text__about">About</h2>
<p>Nordcast <span id="version">2.0.1</span></p>
<p><a href="#" onclick="window.open('https://nordcast.app', '_system'); return false;" id="text__website">Website</a> | <a href="#" onclick="window.open('https://git.koyu.space/koyu/nordcast', '_system'); return false;" id="text__sourcecode">Source code</a></p>
<p>&copy; koyu.space 2020</p>